    :root{
        color-scheme: light dark;
    }

    

    body{
        display: grid;
        place-content: center;
        text-align: center;

    }

    .icons{
        display: block;
    }
    img{
        margin: 0 auto;
        border-radius: 20px;
    }

    img:hover{
        transform: scale(105%);
    }

    .repos{
        margin-top: 15px;
        display: inline-flex;
        max-width: 100%;
        flex-wrap: wrap;
    }    

    section{
        width: 48%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .card{
        box-shadow: 0 4px 8px 0 rgba(94, 94, 94, 0.433);
        transition: 0.3s;
        padding: 15px;
    }
    .container {
        padding: 2px 16px;
      }

    .rotate {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    }
    @media screen and (max-width: 900px){
        #repos{
            margin: 0 auto;
            display: flex;
            max-width: 100%;
            flex-wrap: wrap;
        }

        section{
            width: 80%;
        }
    }
      
    

    
